/* Group13 */

@import url("https://fonts.googleapis.com/css2?family=Maven Pro:wght@500&display=swap");

p {
  margin: 0;
}

.flex-row-vend {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.flex-hcenter {
  justify-content: center;
}

.group-13 {
  display: grid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 8px;
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1em;
  max-width: 100%;
  min-width: 400px;
  padding: 15px 45px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 250ms;
  margin: 2px;
}

.group-814 {
  height: 100%;
}

.group-17 {
  margin-right: 33px;
  box-sizing: border-box;
  width: 407px;
  height: 90%;
}

.group-514 {
  padding: 10px 327px 9px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  height: 64px;
  width: 100%;
}

.txt-311 {
  font-size: 15px;
  font-family: Maven Pro, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  width: 400px;
  height: 24px;
  word-wrap: break-word;
}

.txt-8105 {
  font-size: 16px;
  font-family: Maven Pro, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 300px;
  height: 20px;
  word-wrap: break-word;
}

.rectangle-19 {
  background-color: #FF9A5A;
  width: min-content;
  border-radius: 8px;
  height: 30px;
  align-items: center;
  display: flex;
  text-transform: lowercase;
  font-variant: small-caps;
}

.replay {
  width: 64px;
  height: 70px;
}

.reload_symbol{
  cursor: pointer;
  transition: all 250ms;
}

.reload_symbol:hover {
  transform: scale(1.05);
}