**/.DS_Store

**/build/

docs/**/.project
docs/**/~*
docs/~*

src/interface/tmp
src/interface/bin

src/firmware/*.o

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# MPLAB
src/firmware/*.cof
src/firmware/*.err
src/firmware/*.hex
src/firmware/*.lst
src/firmware/*.map
src/firmware/*.mcp
src/firmware/*.mcs
src/firmware/*.mcw
src/firmware/*.o
src/firmware/Makefile
src/firmware/NMakefile

# MPLAB X project ignore
src/firmware/ENSD_Jammer.X/*.d
src/firmware/ENSD_Jammer.X/*.pre
src/firmware/ENSD_Jammer.X/*.p1
src/firmware/ENSD_Jammer.X/*.lst
src/firmware/ENSD_Jammer.X/*.sym
src/firmware/ENSD_Jammer.X/*.obj
src/firmware/ENSD_Jammer.X/*.o
src/firmware/ENSD_Jammer.X/*.sdb
src/firmware/ENSD_Jammer.X/*.obj.dmp
src/firmware/ENSD_Jammer.X/html/
src/firmware/ENSD_Jammer.X/nbproject/private/
src/firmware/ENSD_Jammer.X/nbproject/Package-*.bash
src/firmware/ENSD_Jammer.X/build/
src/firmware/ENSD_Jammer.X/nbbuild/
src/firmware/ENSD_Jammer.X/dist/
src/firmware/ENSD_Jammer.X/nbdist/
src/firmware/ENSD_Jammer.X/nbactions.xml
src/firmware/ENSD_Jammer.X/nb-configuration.xml
src/firmware/ENSD_Jammer.X/funclist
src/firmware/ENSD_Jammer.X/nbproject/Makefile-*
src/firmware/ENSD_Jammer.X/disassembly/
src/firmware/ENSD_Jammer.X/*.map
src/firmware/ENSD_Jammer.X/.generated_files/
