/* Testconfiguration */

@import url("https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@700&display=swap");

p {
  margin: 0;
}

.frame-5 {
  padding: 7% 22%;
  box-sizing: border-box;
  background-attachment: fixed;
  background: url(../../public/BackgroundImage.png),
    linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: 100% 100%;
  width: 100%;
  min-width: 20em;
  height: 100%;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-hcenter {
  justify-content: space-between;
}

.flex-col-hend {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test-configuration {
  padding: 3em 5em;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: rgba(231, 120, 23, 1);
  width: 817px;
  height: 603px;
}

.group-917 {
  height: 100%;
}

.txt-120 {
  font-size: 48px;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 492px;
  height: 72px;
  word-wrap: break-word;
  margin-bottom: 118px;
}

.group-213 {
  width: 100%;
}

.group-21 {
  margin-bottom: 119px;
  box-sizing: border-box;
  height: 90px;
  width: 100%;
}

.txt-649 {
  font-size: 48px;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 375px;
  height: 84px;
  word-wrap: break-word;
}

.rectangle-17 {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  width: 405px;
  height: 100%;
}

.group-786 {
  width: fit-content;
  padding: auto;
}

.group-15 {
  padding: 14% 25% 12% 27%;
}

.txt-905 {
  font-size: 48px;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  width: 281px;
  height: 77px;
  word-wrap: break-word;
}

.group-14 {
  padding: 14px 52px 12px 54px;
  box-sizing: border-box;
  border-radius: 89px;
  background-color: rgba(228, 30, 19, 1);
  width: 335px;
  height: 100%;
}

.txt-637 {
  font-size: 48px;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 227px;
  height: 77px;
  word-wrap: break-word;
}
