/* Arrowcircleup */

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.topleft {
  position: absolute;
  top: 25px;
  left: 25px;
}

.arrow-circle-up {
  background: url(../../public/returnArrow.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 80px;
}

.group {
  width: 100%;
  height: 100%;
}
