/* Arrowcircleup */

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.arrow-circle-up {
  background: url(../public/returnArrow.png);
  background-size: 100% 100%;
  transform: rotate(-90deg);
  width: 1000px;
  height: 1000px;
}

.group {
  width: 100%;
  height: 100%;
}